.hide {
  display: none !important;
}
header {
  text-align: center;
  padding-bottom: 25px;
}
.green {
  background: #008080;
}
.red {
  background: #ff6347;
}
.blue {
  background: #87ceeb;
}
.row {
  display: block;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  zoom: 1;
  width: 650px;
  margin: auto;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.item {
  display: block;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 100px;
  width: 200px;
  margin-bottom: 10px;
}
.item:nth-child(3n+2) {
  margin-right: 25px;
  margin-left: 25px;
}
