:root {
	--black: black;
	--blue: #179cb2; /*#111;*/
  --bgbody: #111411; /*	#ed6600*/
	--bgcontent: #e7e7e7;
	--text:	#eee; /*	#ed6600*/
	--orange: #ed6600;
}

a {
  text-decoration: none!important;
}

html {
  background-color:  var(--bgbody);
	font-family: 'Open Sans', sans-serif;
  font-weight: 400;
	font-size: 24px;
	color: #eee;


}
html,
body {
  overflow-x: hidden;
	margin: 0;
}
header p {
	color: #eee;
	position: fixed;
	margin-top: 16px;
	margin-left: 90px;
}



#main-leftmenu{
	position: fixed;
	width: 75px;
	height: 100vh;
	background-color: var(--black);
	border-right: 4px var(--blue) solid;

}
.main-leftmenu-box{
	cursor: pointer;
	width: 75px;
	height: 75px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition-duration: .2s;
	margin-left: auto;
}
.main-leftmenu-box a {
  color: #fff;
}
.main-leftmenu-box:hover{
	border-right: 1px var(--blue) solid;
	border-bottom: 4px var(--blue) solid;
	background-color: #555;
	transition-duration: .2s;
	width: 200px;
	text-align: left;
	padding-left: 30px;
}
.main-leftmenu-box p{
	opacity: 0;
	position: absolute;
	display: inline-block;
	margin: -20px 0 0 -45px;
	width: 75px;
	height: 75px;
}
.main-leftmenu-box p:hover{
	opacity: 1;
	width: 180px;
	line-height: 75px;
	padding-left: 70px;
	font-size: 18px;
	vertical-align: middle;
	height: 75px;
	margin: -20px 0 0 -45px;
}
.main-leftmenu-box i{
	font-size: 20px;
	color: #eee;
	display: inline-block;
}

#main-content{
	width: auto;
	margin-left: 75px;
/*	margin-left: 40vw;*/
	margin-right: 0;
	background-color: var(--bgcontent);
	font-family: 'Roboto', serif;
  font-weight: 300;	
	color: #444;
	font-size: 20px;
  line-height: 40px;
	box-sizing: border-box;
	border-left: 2px var(--blue) solid;
}
.main-content-header {
  height: 400px;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
  margin-bottom: 20px;
}
.main-content-header-tittle {
	text-align: center;
}
.main-content-overlay {
  content: '';
  /*display: absolute;*/
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.main-content-header-tittle h1 {
  line-height: 80px;
  margin: 140px auto 0px auto;
  color: #fff;
  font-size: 160px;
  font-family: 'Oranienbaum', serif;
  font-weight: 500;
	text-transform:uppercase;

}
.main-content-header-tittle h1 span {
  display: block;
  font-size: 30px;
  margin: 0;
	color: #17bed2;
	text-transform:none;
}


.main-content-header-tittle a {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.main-content-header-tittle a:hover {
  border: none;
  text-decoration: none;
}
#main-content p{
padding:10px 10vw 10px 10vw	;
	margin: 10px;
/*	 border-bottom: 3px solid #17bed2;*/
}
#main-content h2{
	width: 60vw;
	
	margin: 10px 0 0 0;
	color:var(--blue);
	font-size: 46px;
	line-height: 40px;
    font-family: 'Oranienbaum', serif;
    font-weight: 500;
}

#main-content h3 {
    font-weight: 500;
    font-size: 20px;
	line-height: 22px;
	margin: 10px 0 0 0;
	color:var(--blue);
/*   padding-left: 30px;*/
	padding-right: 10vw	;
    display: inline-block;
}
#main-content h4 {
    font-weight: 500;
    color: #333333;
    font-size: 20px;
	margin: 20px 0 0 0;
	line-height: 22px;
/*   padding-left: 30px;*/
	padding-right: 10vw	;
    border-bottom: 3px solid #17bed2;
}
#main-content ul {
line-height: 24px;
	font-size: 18px;
	margin: 10px;
	
}
.main-content-box{
	max-width: 60vw;
	margin: 100px auto 120px auto;
	
}
.fotorama{
	width: 50%;
	display: inline-block;
	background-color: var(--bgcontent);
}
.main-content-box-info{	
	vertical-align: top;
	padding-left: 40px;
	height: 100%;
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.block{
	padding-top:  0;
	padding-bottom: auto;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}
::-webkit-scrollbar-button {
  background: var(--blue);
}


.button {
  border: none;
  background: transparent;
  padding: 0 24px;
	margin-bottom: 10px;
  font-size: 18px;
  line-height: 40px;
/*	width: 90px;*/
	text-align: left;
  border-radius: 5px;
	border: 2px solid #4AB9F2;
  position: relative;
  color: #3E4651;
  cursor: pointer;
  letter-spacing: 0.5px;
	-webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
	text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}

.button:hover {
	background: #4AB9F2;
	color: #fff;
  border: 2px solid #4AB9F2;
  -webkit-transition:  0.3s ease-in-out;
  transition:  0.3s ease-in-out;
	-webkit-box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 90px -2px rgba(0, 0, 0, 0.2);
}


.hide {
  display: none !important;
}

.visible{
	display: block;
}
.list {
	display: none;
/*  margin: .5rem;*/
	width: 10rem;
	position: absolute;
/*  margin: -4rem auto 0 auto;*/
  padding: 1rem;
  background: #fff;
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
	font-size: 16px;
	-webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	z-index: 99;
}

.list__item {
  margin: 0 0 .5rem 0;
  padding: 0;
	color: #000;
	 list-style-type: none;
	
}

.label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: var(--blue);
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.button--round {
  -webkit-transition: 0.3s background ease-in-out;
  -moz-transition: 0.3s background ease-in-out;
  transition: 0.3s background ease-in-out;
  width: 2rem;
  height: 2rem;
  background: var(--blue);
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}
.button--round:hover {
  background: #3b50ce;
}

.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

/*
.content {
  
}
*/

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}