:root {
	--black: black;
	--blue: #179cb2; /*#111;*/
  --bgbody: #111411; /*	#ed6600*/
	--bgcontent: #e7e7e7;
	--text:	#eee; /*	#ed6600*/
	--orange: #ed6600;
}

a:hover,
a{
  text-decoration: none!important;
}

html {
  background-color:  var(--bgbody);
	font-family: 'Open Sans', sans-serif;
  font-weight: 900;
	font-size: 24px;
	color: #eee;


}
html,
body {
  overflow-x: hidden;
	margin: 0;
}
header p {
	color: #eee;
	position: fixed;
	margin-top: 16px;
	margin-left: 90px;
	
}



#main-leftmenu{
	position: fixed;
	width: 75px;
	height: 100vh;
	background-color: var(--black);
	border-right: 4px var(--blue) solid;

}
.main-leftmenu-box{
	cursor: pointer;
	width: 75px;
	height: 75px;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	transition-duration: .2s;
	margin-left: auto;
}
.main-leftmenu-box:hover{
	border-right: 1px var(--blue) solid;
	border-bottom: 4px var(--blue) solid;
	background-color: #555;
	transition-duration: .2s;
	width: 200px;
	text-align: left;
	padding-left: 30px;
}
.main-leftmenu-box p{
	opacity: 0;
	position: absolute;
	display: inline-block;
	margin: -20px 0 0 -45px;
	width: 75px;
	height: 75px;
}
.main-leftmenu-box p:hover{
	opacity: 1;
	width: 180px;
	line-height: 75px;
	padding-left: 70px;
	font-size: 18px;
	vertical-align: middle;
	height: 75px;
	margin: -20px 0 0 -45px;
}
.main-leftmenu-box i{
	font-size: 20px;
	color: #eee;
	display: inline-block;
}

#main-content{
	width: auto;
/*	margin-left: 75px;*/
	margin-left: 40vw;
	margin-right: 0;
	background-color: var(--bgcontent);
	font-family: 'Roboto', serif;
  font-weight: 300;	
	color: #444;
	font-size: 20px;
  line-height: 40px;
	
	box-sizing: border-box;
	border-left: 2px var(--blue) solid;
}
.main-content-header {
  height: 400px;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
  margin-bottom: 40px;
}
.main-content-header-tittle {
	text-align: center;
}
.main-content-overlay {
  content: '';
  /*display: absolute;*/
  height: 100%;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.main-content-header-tittle h1 {
  line-height: 80px;
  margin: 140px auto 0px auto;
  color: #fff;
  font-size: 160px;
  font-family: 'Oranienbaum', serif;
  font-weight: 500;
	text-transform:uppercase;

}
.main-content-header-tittle h1 span {
  display: block;
  font-size: 30px;
  margin: 0;
	color: #17bed2;
	text-transform:none;
}


.main-content-header-tittle a {
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.main-content-header-tittle a:hover {
  border: none;
  text-decoration: none;
}
#main-content p{
padding:10px 10vw 10px 10vw	;
	margin: 10px;
/*	 border-bottom: 3px solid #17bed2;*/
}
#main-content h2{
	width: 60vw;
	
	margin: 10px 0 0 0;
	color:var(--blue);
	font-size: 46px;
	line-height: 40px;
    font-family: 'Oranienbaum', serif;
    font-weight: 500;
}

#main-content h3 {
    font-weight: 500;
    font-size: 20px;
	line-height: 22px;
	margin: 10px 0 0 0;
	color:var(--blue);
/*   padding-left: 30px;*/
	padding-right: 10vw	;
    display: inline-block;
}
#main-content h4 {
    font-weight: 500;
    color: #333333;
    font-size: 20px;
	margin: 20px 0 0 0;
	line-height: 22px;
/*   padding-left: 30px;*/
	padding-right: 10vw	;
    border-bottom: 3px solid #17bed2;
}
#main-content ul {
line-height: 24px;
	font-size: 18px;
	margin: 10px;
	
}
.main-content-box{
	max-width: 60vw;
	margin: 100px auto auto auto;
	
}
.fotorama{
	width: 50%;
	display: inline-block;
	background-color: var(--bgcontent);
}
.main-content-box-info{	
	vertical-align: top;
	padding-left: 40px;
	height: 100%;
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
}
.block{
	padding-top:  0;
	padding-bottom: auto;
}
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}

::-webkit-scrollbar-track {
  background: #b8c0c8;
}
::-webkit-scrollbar-button {
  background: var(--blue);
}
